body {
    margin: 0 auto;
    padding: 0;
    width: 60%;
    line-height: 30px;
}

.img {
    display: flex;
    justify-content: center;
}

img {
    min-width: 100%;
}

p {
    text-align: justify;
}

@media screen and (max-width: 1366px) {
    body {
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
    body {
        width: 100%;
    }
}
